
  <div *ngIf="currentAction === 'add'" class="buttons-wrapper btn-group btn-primary">
    <button class="btn button-instance" (click)="executeAction(null)">
        <clr-icon shape="home"></clr-icon>
        Add a New Activity
    </button>
  </div>  
  <div *ngIf="currentAction === 'choose'" class="buttons-wrapper btn-group btn-primary">
    <button class="button-instance btn" (click)="executeAction('favorites')">
        <clr-icon shape="home"></clr-icon>
        Choose from Favorites
    </button>
    <button class="button-instance btn">
        <clr-icon shape="cog" (click)="executeAction('custom')"></clr-icon>
        Create Custom Activity
    </button>
    <button class="button-instance btn btn-warning submit">
        <clr-icon shape="cog" (click)="executeAction('cancel')"></clr-icon>
        Cancel
    </button>
  </div>  
