@import '../../SASS/components/closeButton.scss';

.record-details{
    margin: 0 auto;
    margin-top: -130px;
    max-width: 500px;
    min-height: 400px;
}
.card-header{
    text-align: center;
}
.close-button{
    @extend .app-close-button;
    top: -4px;
    right: 3px;
}
