<!-- app-activity-list -->
<div class="activity-list">

    <!-- app-activity-list -->
    <collapsible-list *ngFor="let activity of activities" [type]="'accordion'">
      <collapsible-list-item>
        <collapsible-header class="waves-effect">
          {{ activity.name }}
        </collapsible-header>
        <collapsible-body [expanded]="false">
          <p>{{ activity.description }}</p>
        </collapsible-body>
      </collapsible-list-item>  
    </collapsible-list>

</div>

<!-- app-activities-actions- -->
<div class="activites-actions">
  
</div>