@import '../../SASS/_variables.scss';
$calendarDayWidth: 29%; 
$gutterWidth: 2%;

.app-swipe-calendar{
    height: 200px;
    margin-top: 0px;
    margin-left: -$calendarDayWidth - $gutterWidth + 4.5;
}
.app-swipe-calendar .date-wrapper {
    width: $calendarDayWidth;
    position: absolute;
    margin-right: (50% - (3 * 30)) / 3;
    padding: 5px;
    height: 200px;
    display: inline-block;
}
.app-swipe-calendar .date-wrapper:nth-child(1) {
    left: 0px;
}
.app-swipe-calendar .date-wrapper:nth-child(2) {
    left: $calendarDayWidth + $gutterWidth;
}
.app-swipe-calendar .date-wrapper:nth-child(3) {
    left: (2 *$calendarDayWidth) + (2 * $gutterWidth);
}
.app-swipe-calendar .date-wrapper:nth-child(4) {
    left: (3 *$calendarDayWidth) + (3 * $gutterWidth);
}
.app-swipe-calendar .date-wrapper:nth-child(5) {
    left: (4 *$calendarDayWidth) + (4 * $gutterWidth);
}
.prev-day-button, .next-day-button{
    position: absolute;
    bottom: 10px;
}
.prev-day-button{
    left: 0px;
}
.next-day-button{
    right: 0px;
}
.card-header{
    text-align: center;
}
.record-exists{
    width: 50px;
    height: 50px;
    display: flex;
    margin: 30px auto;
}