<collapsible-list 
  [type]="'accordion'"
>
  <collapsible-list-item>
    <collapsible-header 
      class="waves-effect"
    >
      <div class="activity-name">
        {{ activity.name }}
      </div>
       <div class="activity-summary-indicators" *ngIf="activity.metadata !== null">
          Num Days: {{ activity.metadata.numDays }}
          Std Dev: {{ activity.metadata.standardDeviation }}
          Variability: {{ activity.metadata.variability }}
        <app-moving-average-delta-indicator
          
        ></app-moving-average-delta-indicator>
      </div>
    </collapsible-header>
    <collapsible-body 
      [expanded]="false"
    >
      <p>{{ activity.description }}</p>
    </collapsible-body>
  </collapsible-list-item>  
</collapsible-list>

