<clr-header class="header">
    <div class="branding">
      <a href="#" class="nav-link">
          <clr-icon shape="vm-bug"></clr-icon>
          <span class="title">Habbit</span>
      </a>
    </div>
    <div class="header-nav" [clr-nav-level]="1">
      <a name="1" class="nav-link" [ngClass]="{'active': activeRoute === 'activities'}" (click)="setActiveRoute('activities')"><span class="nav-text">Activites</span></a>
      <a name="2" class="nav-link" [ngClass]="{'active': activeRoute === 'log'}" (click)="setActiveRoute('log')"><span class="nav-text">Log</span></a>
      <a name="3" class="nav-link" [ngClass]="{'active': activeRoute === 'goals'}" (click)="setActiveRoute('goals')"><span class="nav-text">Goals</span></a>
      <a name="4" class="nav-link" [ngClass]="{'active': activeRoute === 'trends'}" (click)="setActiveRoute('trends')"><span class="nav-text">Trends</span></a>
      <a name="4" class="nav-link" [ngClass]="{'active': activeRoute === 'insights'}" (click)="setActiveRoute('insights')"><span class="nav-text">Insights</span></a>
    </div>
    <div class="header-actions">
      <clr-dropdown>
          <button class="nav-icon" clrDropdownTrigger>
              <clr-icon shape="user"></clr-icon>
              <clr-icon shape="caret down"></clr-icon>
          </button>
          <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
              <a name="activitesLink" clrDropdownItem  (click)="setActiveRoute('activities')">Account</a>
              <a name="x" clrDropdownItem (click)="setActiveRoute('login')">Login</a>
              <a name="y" clrDropdownItem (click)="setActiveRoute('logout')">Logout</a>
          </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </clr-header>
  <nav class="subnav">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active" name="t" [ngClass]="{'active': activeRoute === 'activities'}" (click)="setActiveRoute('activities')">Activites</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" name="q" [ngClass]="{'active': activeRoute === 'log'}" (click)="setActiveRoute('log')">Log</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" name="r" [ngClass]="{'active': activeRoute === 'goals'}" (click)="setActiveRoute('goals')">Goals</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" name="w" [ngClass]="{'active': activeRoute === 'trends'}" (click)="setActiveRoute('trends')">Trends</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" name="w" [ngClass]="{'active': activeRoute === 'insights'}" (click)="setActiveRoute('insights')">Insights</a>
        </li>
    </ul>
  </nav>