@import '../../SASS/components/swipeCalendar.scss';

.swiper-container{
    height: 150px;
    // margin-top: 20px;
    // margin-bottom: 20px;
}

.date-wrapper{
    @extend .app-swipe-calendar;
}

.controls{
    margin-top: 52px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    margin-left: 0px;
    margin-right: 0px;
    padding: 15px 20px;
}

.btn-group{
    margin-right: 0px;
}

.datepicker-group{
    display: flex;
    justify-content: space-around;
}

.datepicker-trigger-icon{
    width: 30px;
    height: 30px;
}

.form{
    padding-top: 0px;
    margin: unset;
}

.form-group{
    padding-left: 0px;
}

.form-block{
    margin-top: 0px;
}