<div class="app-swipe-calendar">
    <div 
      class="date-wrapper card" 
      *ngFor="let iteration of [-2,-1,0,1,2]; "
      [@slideLeft]="slideLeftActive.toString()"  
      (@slideLeft.done)="slideDone($event)" 
      [@slideRight]="slideRightActive.toString()"  
      (@slideRight.done)="slideDone($event)"
      [ngClass]="{'selected': dateSelected === true && iteration === 0}"
      (click)="dateClicked(iteration)"
    >
      <div class="card-header">
        {{ computeCalendarDate(iteration) }}
      </div>  
     
      <div class="card-block" *ngIf="activeMasterRecords[iteration + 2] === true">
          <img class="record-exists" src="/assets/images/greenX.png" alt="">
      </div>
    </div>
</div>
<div class="controls">
    <div class="btn-group btn-outline-primary">
        <button class="prev-day-button btn" (click)="previousDay()">Prev</button>
        <button class="next-day-button btn" (click)="nextDay()">Month</button>    
       
      </div>  

  <div class="datepicker-group btn-group btn-outline-primary">
      <form class="form" #simpleForm="ngForm">
        <div class="form-block">
            <div class="form-group">
                <input type="date" id="date" name="date" [(ngModel)]="date" clrDate>
            </div>
        </div>
      </form>
  </div>  
  <div class="btn-group btn-outline-primary">
      <button class="prev-day-button btn" (click)="previousDay()">Month</button>
      <button class="next-day-button btn" (click)="nextDay()">Next</button> 
    </div>
  </div>