<div class="app-swipe-calendar">
    <div 
      class="date-wrapper card" 
      *ngFor="let iteration of [-2,-1,0,1,2]" 
      [@slideLeft]="slideLeftActive.toString()"  
      (@slideLeft.done)="slideDone($event)" 
      [@slideRight]="slideRightActive.toString()"  
      (@slideRight.done)="slideDone($event)"
      [ngClass]="{'selected': dateSelected === true && iteration === 0}"
      (click)="dateClicked(iteration)"
    >
      <div class="card-header">
        {{ computeCalendarDate(iteration) }}
      </div>  
      <div class="card-block">
          <img class="record-exists" src="/assets/images/greenX.png" alt="">
      </div>
    </div>
</div>
<div class="controls">
    <div class="btn-group btn-outline-primary">
        <button class="prev-day-button btn" (click)="previousDay()">Prev</button>
        <button class="next-day-button btn" (click)="nextDay()">Month</button>    
       
      </div>  

  <div class="btn-group btn-outline-primary">
      <button class="calendar-button btn " (click)="launchCalendar()">
          <clr-icon shape="calendar"></clr-icon>
      </button>
  </div>  
  <div class="btn-group btn-outline-primary">
      <button class="prev-day-button btn" (click)="previousDay()">Month</button>
      <button class="next-day-button btn" (click)="nextDay()">Next</button> 
    </div>
      
  </div>